<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBiPzjtUHASr99On-Hw_jDUB3aTbF9D7y4</string>
	<key>GCM_SENDER_ID</key>
	<string>650420955109</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pizzaOrder</string>
	<key>PROJECT_ID</key>
	<string>pizza-order-1fe93</string>
	<key>STORAGE_BUCKET</key>
	<string>pizza-order-1fe93.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:650420955109:ios:e7781123cee9c42cedf10c</string>
</dict>
</plist>